* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
  max-width: 100vw;
  font-size: 1rem;
  font-family: "Kumbh Sans", sans-serif;
  font-size: 14px;
}

body {
  display: flex;
  background: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
  justify-content: center;
  align-items: center;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
}
.wrapper {
  height: 509px;
  width: 902px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
}
.root {
  margin: 0 auto;
  height: 100%;
  width: 100%;
  background-color: white;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: none;
  position: relative;
  /*   z-index: -1; */
  overflow: hidden;
  padding: 20px;
}

.leftContainer,
.rightContainer {
  /* border: solid;
  border-color: black; */
  height: 100%;
  width: 50%;
}
.leftContainer {
}
.bgImgContainer {
  background-image: url("/faq-accordion-card-main/images/bg-pattern-desktop.svg");
  background-repeat: no-repeat;
  background-size: contain;
  height: 100%;
  width: 95%;
  background-position: left;
  transform: scaleX(-1);
  transform: scale(2.25);
  position: relative;
  margin-top: -20%;
  margin-left: -65%;
}

.bgWomanDesktop {
  background-image: url("/faq-accordion-card-main/images/illustration-woman-online-desktop.svg");
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  background-position: top right;
  position: relative;
  top: -75%;
  left: -8%;
}

.boxDesktop {
  background-image: url("/faq-accordion-card-main/images/illustration-box-desktop.svg");
  position: absolute;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  background-position: left;
  top: 40px;
  left: -70px;
  z-index: 0;
}

.rightContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  z-index: 3;
}

.faqTitle {
  width: 100%;
  font-size: 2em;
  font-weight: bold;
}

.infoTextContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  width: 100%;
}

.infoText {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
  width: 100%;
}

.arrowDown {
  background-image: url("/faq-accordion-card-main/images/icon-arrow-down.svg");
  background-repeat: no-repeat;
  height: 45%;
  width: 5%;
}

/* *:not(html, body):focus,
*:not(html, body):hover {
  border: solid black;
} */

.infoInner {
  display: none;
}

/* Css Media Query */

/* @media screen and (min-width: 320px) and (max-width: 768px) {
 
}
 */
